<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="TAlex.MathCore" version="1.4.0.0" targetFramework="net452" />
  <package id="TAlex.MathCore.ComplexExpressions" version="1.1.1.0" targetFramework="net452" />
  <package id="TAlex.MathCore.ComplexExpressions.Extensions" version="1.1.2.0" targetFramework="net452" />
  <package id="TAlex.MathCore.ExpressionsBase" version="1.1.4.0" targetFramework="net452" />
  <package id="TAlex.MathCore.LinearAlgebra" version="1.1.2.0" targetFramework="net452" />
  <package id="TAlex.MathCore.NumericalAnalysis" version="1.1.1.0" targetFramework="net452" />
  <package id="TAlex.MathCore.Optimization" version="1.0.1.0" targetFramework="net452" />
  <package id="TAlex.MathCore.SpecialFunctions" version="1.1.1.0" targetFramework="net452" />
  <package id="TAlex.MathCore.Statistics" version="1.1.1.0" targetFramework="net452" />
</packages>